.chart-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-bar__inner {
  height: 100%;
  width: 0.5rem;
  border-radius: 12px;
  background-color: #ebecef;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar__fill {
  background: linear-gradient(110.93deg, #24ADE3 10.94%, #CF69F7 50%, #FE946A 89.06%);
  border-radius: 13px;
  width: 100%;
  transition: all 0.3s ease-out;
}

.chart-bar__label {
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 15px;
  transform: rotate(45deg);
}
