.expense-item {
  color: #2e435d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  max-width: 38rem;
  height: 5rem;
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 13px;
}

.expense-item__description {
  text-align: left;
  width: 70%;
  padding-left: 1rem;
}

.expense-item h2 {
  font-size: 1rem;
}

.expense-item__price {
  font-size: 1.3rem;
}

@media (min-width: 580px) {
  .expense-item__description {

  }

  .expense-item__description h2 {

  }

  .expense-item__price {

  }
}
