.new-expense__container{
  position: relative;
}

.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: left;
}

.form-button {
  border: 0;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #24ADE3;
  color: #fff;
  font-weight: bold;
}

.new-expense__close {
  position: absolute;
  width: 10px;
  height: 10px;
  top: -30px;
  right: 0;
  cursor: pointer;
  border: 0;
  background: transparent;
  font-size: 0.9rem;
  color: #2e435d;
}

.new-expense__control {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 3rem;
  border-radius: 1rem;
  padding: 0 1rem;
  width: 25rem;
}

.new-expense__control input {
  border: 0;
  margin-left: 1rem;
}

.new-expense__amount {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 5rem;
  max-width: 25rem;
  border-radius: 5rem;
  margin: 2rem auto;
  padding: 0 2rem;
}

.money {
  font-size: 1rem;
  margin-right: 1rem;
}

.new-expense__amount input {
  display: inline-block;
  max-width: 100%;
  border: 0;
  font-size: 2rem;
  font-weight: lighter;
  border-radius: inherit;
  background: linear-gradient(180deg, #24ADE3 10.94%, #CF69F7 50%, #FE946A 89.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.new-expense__actions {
  text-align: center;
}
